{% extends 'layout/dashboard/dashboard.html' %}

{% block title %}
    داشبورد | پروفایل
{% endblock %}

{% block dashboard_content %}
<div class="p-4">
    <div class="d-flex justify-content-between">
        <p class="h4">
            اطلاعات حساب کاربری
        </p>
        <a href="{% url 'profile_edit' %}" class="d-flex align-items-center text-decoration-none" style="color: #245D51;">
            <i class="fa-solid fa-user-pen fa-xl"></i>
            <p class="d-none d-lg-block h4 px-2">ویرایش اطلاعات حساب کاربری</p>
        </a>
    </div>
    <hr>
    <div class="row p-4">
        <div class="col-12 col-lg-6 p-4">
            <p class="h5 text-secondary">نام:</p>
            <p class="h5">{{ user.first_name }}</p>
        </div>
        <div class="col-12 col-lg-6 p-4">
            <p class="h5 text-secondary">نام خانوداگی:</p>
            <p class="h5">{{ user.last_name }}</p>
        </div>
        <div class="col-12 col-lg-6 p-4">
            <p class="h5 text-secondary">ایمیل:</p>
            <p class="h5">{{ user.email }}</p>
        </div>
        <div class="col-12 col-lg-6 p-4">
            <p class="h5 text-secondary">شماره همراه:</p>
            <p class="h5">{{ user.phone }}</p>
        </div>
    </div>
</div>
{% endblock %}