{% extends 'layout/dashboard/dashboard.html' %}

{% block title %}
    داشبورد | تغییر رمز عبور
{% endblock %}

{% block dashboard_content %}
<div class="p-4">
    <form action="{% url 'password_change' %}" method="post" class="basic-login border-0 p-0">
        <input type="hidden" name="_method" value="put">
        {% csrf_token %}
        <div class="row p-4">
            <div class="col-12 col-lg-6 p-4 ms-1">
                <label class="form-label h5">{{ form.old_password.label }}:</label>
                <div class="col-12 col-sm-10 col-lg-12 col-xl-8 d-flex justify-content-between">
                    {{ form.old_password }}
                </div>
            </div>
            <div class="col-12 col-lg-6 p-4">
                <label class="form-label h5">{{ form.new_password1.label }}:</label>
                <div class="col-12 col-sm-10 col-lg-12 col-xl-8 d-flex justify-content-between">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="col-12 col-lg-6 p-4">
                <label class="form-label h5">{{ form.new_password2.label }}:</label>
                <div class="col-12 col-sm-10 col-lg-12 col-xl-8 d-flex justify-content-between">
                    {{ form.new_password2 }}
                </div>
            </div>
        </div>
        <div dir="ltr" class="d-flex mt-5">
            <button type="submit" class="btn text-white p-3 mx-2" style="background-color: #245D51;">ذخیره اطلاعات</button>
        </div>
    </form>
    <div dir="ltr" class="my-3">
        <a href="{% url 'dashboard' %}" class="btn text-danger p-3 mx-2 shadow-lg">لغو ویرایش</a>
    </div>
</div>
{% endblock %}